:root {
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} /* ---------------- BASE ---------------- */
body {
  font-size: 13px;
  font-family: "Manrope", sans-serif;
  color: var(--Desaturated-Dark-Blue);
  display: grid;
  place-items: center;
  min-height: 100vh;
} /* ---------------- LAYOUT ---------------- */
.center {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: min(100% - 2.5rem, 50rem);
  margin-bottom: 10rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  border-radius: 1em;
  background-color: var(--Light-Grayish-Blue);
} /* ---------------- IMAGE ---------------- */
.drawers {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 50% 30%;
} /* ---------------- USER ---------------- */
.user__data {
  max-width: 100%;
  width: 100%;
  display: flex;
  padding: 0.5rem 2rem;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.user__info {
  display: flex;
  gap: 0.8rem;
}
.avatar {
  width: 2.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 2rem;
  width: 2rem;
  aspect-ratio: 1;
  z-index: 1;
  border-radius: 50%;
} /* svg ortalama */
svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} /* text*/
.text__area {
  padding: 0 2rem;
  margin-bottom: 1rem;
}
.title__color {
  color: var(--Very-Dark-Grayish-Blue);
}
.title {
  font-size: clamp(1.3em, 2.3vw, 1.8em);
  margin-bottom: 1rem;
}
.desc {
  font-size: clamp(1.08em, 2.3vw, 1.13em);
} /* text*/ /*********************SOCİAL/////////////////////*/
.share {
  color: var(--Light-Grayish-Blue);
  letter-spacing: 60%;
  font-size: 1.1em;
}
.social__icons {
  display: none;
  width: 100%;
  flex: 1;
  gap: 0.7rem;
  background-color: var(--Very-Dark-Grayish-Blue);
  align-items: center;
}
.icon {
  width: 1.5rem;
  position: relative;
  aspect-ratio: 1;
}
.user__data.is-active .user__info {
  display: none;
}
.user__data.is-active {
  background-color: var(--Very-Dark-Grayish-Blue);
  padding: 0.75rem 2rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.user__data.is-active .social__icons {
  display: flex;
}
.wrapper:hover {
  background-color: var(--Desaturated-Dark-Blue);
}
.wrapper:hover svg {
  color: white;
}
.user__data.is-active .wrapper {
  background-color: var(--Desaturated-Dark-Blue);
}
.user__data.is-active .wrapper svg {
  color: white;
}
.foot p {
  font-size: clamp(1em, 2.3vw, 1.3em);
}
.foot a {
  color: var(--);
  text-decoration: none;
} /* ---------------- FOOTER ---------------- */
@media (min-width: 768px) {
  .container {
    flex-wrap: nowrap;
    gap: 1rem;
  }
  .drawers {
    width: 300px;
    height: 300px;
    border-bottom-left-radius: 1rem;
    object-fit: cover;
    object-position: 7% 50%;
  }
  .text__content {
    padding: 1.7rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media (min-width: 1024px) {
  .wrapper {
    margin-right: 2rem;
  }
  .user__data.is-active {
    background-color: transparent;
    padding: 0.5rem 2rem;
  }
  .user__data.is-active .user__info {
    display: flex;
  }
  .social__icons {
    padding: 1rem 2rem;
    bottom: 120%;
    right: -10.6%;
    width: fit-content;
    border-radius: 10px;
    position: absolute;
  }
  .social__icons::after {
    content: "";
    position: absolute;
    bottom: -6px; /* kutunun altına gelsin */
    left: 49.5%;
    transform: translateX(-50%) rotate(45deg);
    width: 12px;
    height: 12px;
    background: var(--Very-Dark-Grayish-Blue);
  }
}
